@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  /* padding: 0; */
}
.container{
  margin: 0 auto;
  max-width: 80rem;
}

body{
  font-family: "Poppins", sans-serif;
}

.navi{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  height: 72px;
  align-items: center;
}

.navi a{
  color: red;
  padding: 6px;
  text-decoration: none;

}
.btn{
  border-radius: 2px;
  height: 30px;
  background-color: red;
}

.hero{
  display: flex;
  align-items: center;
  max-width: 80rem;
  height: calc(100vh-720);
}

.hero h1{
  font-weight: 800;
  line-height: 102px;
  font-size: 108 px;
}
.hero-p{
  font-weight: 600;
  color:var(--gray);
}
.hero-btn{
  display: flex;
  gap: 2.5rem;
}
.secondary-btn{
  background: transparent;
  color: var(--gray);
  border: 1px solid black;
}